<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= title %></title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic' rel='stylesheet' type='text/css'>

  <script src="/js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body>
  <header id="main-header">
    <nav>
      <a href="/">Dashboard</a>
      <a href="/hooks">Hooks</a>
      <a href="/repos">Repos</a>
      <% if( everyauth.loggedIn ){ %>
      <a href="/logout" class="login"><i class="icon-signout"></i>Logout</a>
      <% } else { %>
      <a href="/auth/github" class="login"><i class="icon-user"></i>Login with GitHub</a>
      <% } %>

    </nav>
  </header>
  <div id="container" role="main">
  <%- body %>
  </div>
  <footer>

  </footer>

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/src/libs.js"></script>
  <script src="/js/src/templates.js"></script>
  <script src="/js/src/app.js"></script>

  <% if( js_module ){ %>
  <script>
    <% if( user ) { %>_id = "<%= user.id %>";<% } %>
    require('<%= js_module %>');
  </script>
  <% } %>
</body>
</html>
