<section id="repos">
</section>
<nav id="orgs">
  <div class="item">
    <img src="http://www.gravatar.com/avatar/<%= user.github.gravatarId %>?s=50">
    <a href="/repos">MY Repos</a>
  </div>
</nav>
